body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "IBM Plex Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: source-code-pro, "Plus Jakarta Sans";
}
